$colors: (cRent: #F7CB15,
    cFood: #72B01D,
    cHealth: #731DD8,
    cTransport: #F75B15,
    cRelax: #F715F7,
    cClothes: #15D8F7,
    cOthers: #d2f9ff,
    cPopup: red);



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth
}

@font-face {
    font-family: neon;
    src: url('/fonts/Library\ 3\ am.otf');
}

body {
    background-color: #252D2C;
    font-family: 'Raleway', sans-serif;
    background-image: url(../obrazy/brics.jpg);
    background-size: cover;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: neon;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
    text-shadow:
        1px 0px 3px #1551f7, 1px 0px 4px #1551f7, 4px 0px 2px #1551f7,
        2px 0vw 0vw #2f64f7, 3px 0vw 0vw #2f64f7, 3px 0vw 0vw #2f64f7,
        2px 0vw 1px #4b77f0, 2px 0vw 1px #4b77f0, 4px 0vw 1px #4b77f0,
        1px 0vw 2px #597bda, 2px 0vw 5px #597bda, 4px 0vw 5px #597bda;
}

.wrapper {
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.all-spends {
    position: relative;
    width: 95%;
    background-color: rgb(106, 107, 128);
    border: 1px solid #3569f8;

    h3, .all {
        color: white;
        text-shadow:
            1px 0px 3px #1551f7, 1px 0px 4px #1551f7, 4px 0px 2px #1551f7,
            2px 0vw 0vw #2f64f7, 3px 0vw 0vw #2f64f7, 3px 0vw 0vw #2f64f7,
            2px 0vw 1px #4b77f0, 2px 0vw 1px #4b77f0, 4px 0vw 1px #4b77f0,
            1px 0vw 2px #597bda, 2px 0vw 5px #597bda, 4px 0vw 5px #597bda;
    }

    ul li {
        margin: 10px auto;
    }

    li::before {
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 1px;
        width: 100%;
        content: '';
    }

    li a {
        padding: 5px 10px;
    }

    .all-rent,
    .all-rent a {
        color: map-get($colors, cRent)
    }

    .all-food,
    .all-food a {
        color: map-get($colors, cFood)
    }

    .all-health,
    .all-health a {
        color: map-get($colors, cHealth)
    }

    .all-transport,
    .all-transport a {
        color: map-get($colors, cTransport)
    }

    .all-relax,
    .all-relax a {
        color: map-get($colors, cRelax)
    }

    .all-clothes,
    .all-clothes a {
        color: map-get($colors, cClothes)
    }

    .all-others,
    .all-others a {
        color: map-get($colors, cOthers)
    }


    .all-rent::before {
        box-shadow: 0 0 5px 1px white;
        background-color: map-get($colors, cRent);
    }

    .all-food::before {
        background-color: map-get($colors, cFood);
        box-shadow: 0 0 5px 1px white;
    }

    .all-health::before {
        background-color: map-get($colors, cHealth);
        box-shadow: 0 0 5px 1px white;
    }

    .all-transport::before {
        background-color: map-get($colors, cTransport);
        box-shadow: 0 0 5px 1px white;
    }

    .all-relax::before {
        background-color: map-get($colors, cRelax);
        box-shadow: 0 0 5px 1px white;
    }

    .all-clothes::before {
        background-color: map-get($colors, cClothes);
        box-shadow: 0 0 5px 1px white;
    }

    .all-others::before {
        background-color: map-get($colors, cOthers);
        box-shadow: 0 0 5px 1px white;
    }
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;

    &__card {
        text-align: center;
        width: 80%;
        max-width: 400px;
        border-radius: 15px;
        margin: 0 auto;
        padding: 10px 20px;
        margin: 10px;
        box-shadow: 0 0 10px 2px white;
        background-color: rgba(0, 0, 0, .7);

        h3,
        .all {
            font-family: neon;
            text-transform: uppercase;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        li {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 4px auto;
            padding: 2px 5px;
            color: #e1fbff;
            background-color: none;
            font-style: italic;
            list-style: none;

            .spend {
                width: 70%;
                overflow: auto;
                text-align: left;
            }

            button {
                background-color: transparent;
                border: none;

                .fa-trash-alt {
                    color: white;
                    text-shadow:
                        1px 0px 3px #f73715, 1px 0px 4px #f73715, 4px 0px 2px #f73715,
                        2px 0vw 0vw #f74d2f, 3px 0vw 0vw #f74d2f, 3px 0vw 0vw #f74d2f,
                        2px 0vw 1px #f5674e, 2px 0vw 1px #f5674e, 4px 0vw 1px #f5674e,
                        1px 0vw 2px #f37d68, 2px 0vw 5px #f37d68, 4px 0vw 5px #f37d68;
                    cursor: pointer;
                    padding: 5px 10px;
                }
            }

        }

        li::before {
            position: absolute;
            bottom: -2px;
            left: 0;
            height: 1px;
            width: 100%;
            content: '';
        }

        &--popup {
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #3569f8;

            h3 {
                color: white;
                text-shadow:
                    1px 0px 3px #1551f7, 1px 0px 4px #1551f7, 4px 0px 2px #1551f7,
                    2px 0vw 0vw #2f64f7, 3px 0vw 0vw #2f64f7, 3px 0vw 0vw #2f64f7,
                    2px 0vw 1px #4b77f0, 2px 0vw 1px #4b77f0, 4px 0vw 1px #4b77f0,
                    1px 0vw 2px #597bda, 2px 0vw 5px #597bda, 4px 0vw 5px #597bda;
            }

            input,
            select {
                width: 90%;
                padding: 2px 4px;
                margin: 5px auto;
                border: #1551f7 1px solid
            }

            .popup-btn {
                text-align: center;
                background: transparent;
                border: none;
                border-radius: 20px;
                padding: 10px 20px;
                margin: 10px auto;
                box-shadow: #e6ebfc 0 0 10px;
                font-size: 12px;
                color: white;
                font-family: neon;
                font-weight: lighter;
                text-transform: uppercase;
                cursor: pointer;

                &--add {
                    border: 1px solid #a2e742;
                    text-shadow:
                        1px 0px 3px #a2e742, 1px 0px 4px #a2e742, 4px 0px 2px #a2e742,
                        2px 0vw 0vw #93f80f, 3px 0vw 0vw #93f80f, 3px 0vw 0vw #93f80f,
                        2px 0vw 1px #a7f146, 2px 0vw 1px #a7f146, 4px 0vw 1px #a7f146,
                        1px 0vw 2px #b8ec73, 2px 0vw 5px #b8ec73, 4px 0vw 5px #b8ec73;
                }

                &--cancel {
                    border: 1px solid #ca3b3b;
                    text-shadow:
                        1px 0px 3px #ca3b3b, 1px 0px 4px #ca3b3b, 4px 0px 2px #ca3b3b,
                        2px 0vw 0vw #d45050, 3px 0vw 0vw #d45050, 3px 0vw 0vw #d45050,
                        2px 0vw 1px #df6060, 2px 0vw 1px #df6060, 4px 0vw 1px #df6060,
                        1px 0vw 2px #e4a9a9, 2px 0vw 5px #f3b2b2, 4px 0vw 5px #f08f8f;
                }
            }
        }




        &--rent {
            border: 2px solid map-get($colors, cRent);

            h3,
            .all {
                color: white;
                text-shadow:
                    1px 0px 3px map-get($colors, cRent), 1px 0px 4px map-get($colors, cRent), .4px 0px 2px map-get($colors, cRent),
                    2px 0vw 0vw #f8ca0f, 3px 0vw 0vw #f8ca0f, 3px 0vw 0vw #f8ca0f,
                    2px 0vw 1px #e9f80f, 2px 0vw 1px #e9f80f, 4px 0vw 1px #e9f80f,
                    1px 0vw 2px #edf84b, 2px 0vw 5px #edf84b, 4px 0vw 5px #edf84b,
            }
        }

        &--food {
            border: 2px solid map-get($colors, cFood);

            h3,
            .all {
                color: white;
                text-shadow:
                    1px 0px 3px map-get($colors, cFood), 1px 0px 4px map-get($colors, cFood), .4px 0px 2px map-get($colors, cFood),
                    2px 0vw 0vw #72B01D, 3px 0vw 0vw #72B01D, 3px 0vw 0vw #72B01D,
                    2px 0vw 1px #89d41e, 2px 0vw 1px #89d41e, 4px 0vw 1px #89d41e,
                    1px 0vw 2px #a3f72f, 2px 0vw 5px #a3f72f, 4px 0vw 5px #a3f72f;
            }
        }

        &--clothes {
            border: 2px solid map-get($colors, cClothes);

            h3,
            .all {
                color: white;
                text-shadow:
                    1px 0px 3px map-get($colors, cClothes), 1px 0px 4px map-get($colors, cClothes), .4px 0px 2px map-get($colors, cClothes),
                    2px 0vw 0vw #15D8F7, 3px 0vw 0vw #15D8F7, 3px 0vw 0vw #15D8F7,
                    2px 0vw 1px #42e0f8, 2px 0vw 1px #42e0f8, 4px 0vw 1px #42e0f8,
                    1px 0vw 2px #7fe7f7, 2px 0vw 5px #7fe7f7, 4px 0vw 5px #7fe7f7;
            }
        }

        &--transport {
            border: 2px solid map-get($colors, cTransport);

            h3,
            .all {
                color: white;
                text-shadow:
                    1px 0px 3px map-get($colors, cTransport), 1px 0px 4px map-get($colors, cTransport), .4px 0px 2px map-get($colors, cTransport),
                    2px 0vw 0vw #F75B15, 3px 0vw 0vw #F75B15, 3px 0vw 0vw #F75B15,
                    2px 0vw 1px #f36b2c, 2px 0vw 1px #f36b2c, 4px 0vw 1px #f36b2c,
                    1px 0vw 2px #f57e47, 2px 0vw 5px #f57e47, 4px 0vw 5px #f57e47;
            }
        }

        &--relax {
            border: 2px solid map-get($colors, cRelax);

            h3,
            .all {
                color: white;
                text-shadow:
                    1px 0px 3px map-get($colors, cRelax), 1px 0px 4px map-get($colors, cRelax), .4px 0px 2px map-get($colors, cRelax),
                    2px 0vw 0vw #F715F7, 3px 0vw 0vw #F715F7, 3px 0vw 0vw #F715F7,
                    2px 0vw 1px #f539f5, 2px 0vw 1px #f539f5, 4px 0vw 1px #f539f5,
                    1px 0vw 2px #f768f7, 2px 0vw 5px #f768f7, 4px 0vw 5px #f768f7;
            }
        }

        &--health {
            border: 2px solid map-get($colors, cHealth);

            h3,
            .all {
                color: white;
                text-shadow:
                    1px 0px 3px map-get($colors, cHealth), 1px 0px 4px map-get($colors, cHealth), .4px 0px 2px map-get($colors, cHealth),
                    2px 0vw 0vw #731DD8, 3px 0vw 0vw #731DD8, 3px 0vw 0vw #731DD8,
                    2px 0vw 1px #852aec, 2px 0vw 1px #852aec, 4px 0vw 1px #852aec,
                    1px 0vw 2px #9041eb, 2px 0vw 5px #9041eb, 4px 0vw 5px #9041eb;
            }
        }

        &--others {
            border: 2px solid map-get($colors, cOthers);

            h3,
            .all {
                color: white;
                text-shadow:
                    1px 0px 3px map-get($colors, cOthers), 1px 0px 4px map-get($colors, cOthers), .4px 0px 2px map-get($colors, cOthers),
                    2px 0vw 0vw #d2f9ff, 3px 0vw 0vw #d2f9ff, 3px 0vw 0vw #d2f9ff,
                    2px 0vw 1px #e1fbff, 2px 0vw 1px #e1fbff, 4px 0vw 1px #e1fbff,
                    1px 0vw 2px #e3f1f3, 2px 0vw 5px #e3f1f3, 4px 0vw 5px #e3f1f3;
            }
        }

        &--rent li::before {
            box-shadow: 0 0 5px 1px white;
            background-color: map-get($colors, cRent);
        }

        &--food li::before {
            background-color: map-get($colors, cFood);
            box-shadow: 0 0 5px 1px white;
        }

        &--health li::before {
            background-color: map-get($colors, cHealth);
            box-shadow: 0 0 5px 1px white;
        }

        &--transport li::before {
            background-color: map-get($colors, cTransport);
            box-shadow: 0 0 5px 1px white;
        }

        &--relax li::before {
            background-color: map-get($colors, cRelax);
            box-shadow: 0 0 5px 1px white;
        }

        &--clothes li::before {
            background-color: map-get($colors, cClothes);
            box-shadow: 0 0 5px 1px white;
        }

        &--others li::before {
            background-color: map-get($colors, cOthers);
            box-shadow: 0 0 5px 1px white;
        }




    }

}

.chart-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}